/* Deck Builder */
#deck {
	flex: 2;
	background: var(--yami-color3-transparent);
	border-radius: 25px;
	margin: 10px;
	padding: 0;
}

#deck-header {
	display: flex;
	background: var(--yami-color2);
	padding: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 25px;
}

#deck-area {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.deck-card {
	width: 10%;
	padding: 10px;
}

#fusion-deck {
	border-top: solid 1px var(--yami-color2);
}

#fusion-deck h3 {
	background: var(--yami-color2);
	color: var(--yami-color1);
	padding: 10px;
	border-radius: 25px;
}

#fusion-deck-area {
	display: flex;
	padding: 10px;
}

#card-pool {
	flex: 1;
	background: var(--yami-color3-transparent);
	border-radius: 25px;
	margin: 10px;
	padding: 0;
}

#card-pool-header {
	background: var(--yami-color2);
	border-radius: 25px;
	display: flex;
	padding: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#card-area {
	padding: 10px;
}

.card-pool-card {
	width: 35%;
	padding: 10px;
}
