body {
	background: aqua;
	font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", sans-serif;
}
h1 {
	color: deeppink;
	text-align: center;
}
h2 {
	color: aqua;
}
h2:hover {
	color: lawngreen;
}
p {
	color: aqua;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.assign {
	display: flex;
	flex-wrap: wrap;
}
.assign-det {
	width: 21%;
	padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
	background: deeppink;
	border-radius: 15px;
	box-shadow: 5px 8px #401201;
}
.assign img {
	width: 200px;
	border: 2px solid cyan;
	margin-right: 20px;
	border-radius: 15px;
	display: block;
	margin: auto;
}
.assign img:hover {
	border: 2px solid lawngreen;
}
