body{
    background: aqua;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
h1 {
    color: deeppink;
    text-align: center;
}
h2 {
    color:  aqua;
}
p {
    color: aqua;
}
a {
    text-decoration: none;
    color: aqua;
}
a:hover {
    text-decoration: none;
    color: lawngreen;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: deeppink;
    border-radius: 20px;
}
.assign img {
    width: 200px;
    margin: 10px;
    border: 4px solid cyan;
}
.assign img:hover {
    width: 300px;
    border: 4px solid lawngreen;
}
