:root {
    --color1: lightgrey;
    --color2: darkgreen;
    --color3: darkolivegreen;
    --color4: khaki;
    --color5: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color1);
}

/* Structure */

main {
    margin: auto;
}

.house {
    background: var(--color4);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.info {
    background: var(--color5);
}

.main-image {
    display: block;
    margin: auto;
}

.level-image {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
}

/* Typography */

h1 {
    color: var(--color2);
    text-align: center;
}

h2 {
    color: var(--color3);
    text-align: center;
}

h3 {
    color: var(--color2);
    text-align: center;
}

p {
    color: var(--color2);
    text-align: center;
}

a {
    color: var(--color2);
}

/* larger Screens*/

@media only screen and (min-width: 768px) {
    main {
        width: 90%;
    }

    .info {
        display: flex;
    }

    .main-image {
        margin-left: 0;
        margin-right: 0;
    }

    .info-text {
        margin-left: 10px;
    }

    .info p {
        text-align: left;
    }

    .levels {
        display: flex;
    }

    .level {
        margin: 20px;
    }
}