:root {
    --color1: lightgrey;
    --color2: darkgreen;
    --color3: darkolivegreen;
    --color4: khaki;
    --color5: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color1);
}

/* Structure */

main {
    margin: auto;
}

.content{
    background: var(--color4);
    border: 2px solid var(--color2);
    border-radius: 5%;
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
}

.image {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: auto;
    height: auto;
    max-width: 100%;
}

.image-small {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    height: auto;
    max-width: 75%;
}

#transparent {
    background: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .25s ease;
    z-index: 1029;
}

#card-modal {
    background: var(--color4);
    width: 80%;
    height: 80%;
    position: fixed;
    margin-left: 10%;
    margin-top: 5%;
    transition: opacity .25s ease;
    z-index: 1030;
}

.hidden {
    display: none;
}

/* Typography */

h1 {
    color: var(--color2);
    text-align: center;
}

h2 {
    color: var(--color3);
    text-align: center;
}

h3 {
    color: var(--color2);
    text-align: center;
}

p {
    color: var(--color2);
    text-align: center;
}

a {
    color: var(--color2);
}

/* larger Screens*/

@media only screen and (min-width: 1000px) {
    main {
        width: 70%;
    }

    #card-list {
        display: flex;
    }

    .content {
        margin-left: 30px;
        margin-right: 30px;
    }

    #card-modal {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-top: 5%;
    }
}