:root {
    --main-background: #BDBEA9;
    --content-background: #8DB38B;
    --primary-color: #04724D;
    --secondary-color: #56876D;
    --accent-color: #D2AB99;
    --rotating-amount: 0deg;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-background);
}

/* Structure */

.content {
    background: var(--content-background);
    border: solid 1px var(--secondary-color);
    padding: 10px;
    margin: auto;
    width: 80%;
}

img {
    display: block;
    margin: auto;
}

#rotating-image {
    position: relative;
    transform: rotate(var(--rotating-amount));
}

#stars {
    background: var(--secondary-color);
}


/* Slider */

#rotate-slider {
    appearance: none;
    width: 100%;
    height: 25px;
    background: var(--main-background);
    outline: none;
}

/*For Chromium Browsers*/
#rotate-slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    cursor: pointer;
}

/*For Firefox*/
#rotate-slider::-moz-range-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    cursor: pointer;
}

/* Typography */

h1 {
    color: var(--primary-color);
    text-align: center;
}

h2 {
    color: var(--secondary-color);
    text-align: center;
}

h3 {
    color: var(--primary-color);
    text-align: center;
}

p {
    color: var(--primary-color);
}

#stars h3 {
    color: var(--accent-color)
}

footer p {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* larger Screens*/

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    one {
        flex: 1;
    }

    .content {
        width: 300px;
        margin: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #slider-rotate,
    #stars {
        margin-left: auto;
    }

}