body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}

/* Structure */

#content {
    background: white;
    padding: 5px;
    width: 80%;
    margin: auto; /* center horizontally */
    border-radius: 5px;
}

#car {
    max-width: 20%;
}

.hidden {
    display: none;
}

/* Typography */

h1 {
    color: darkslategrey;
}

.special {
    background: cyan;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}