:root {
    /* Colors */
    --yami-color1: black;
    --yami-color2: grey;
    --yami-color2-transparent: rgba(128, 128, 128, 0.3);
    --yami-color3: white;
    --yami-color3-transparent: rgba(255, 255, 255, 0.5);
    --yami-color4: #e51b0b;
    --yami-color5: #fff858;

    /* Font */
    --style-fonts: "Times New Roman", Times, serif;

    /* Display Elements Variables */
    --menu: none;
    --account-buttons: block;
    --show-overlay: none;
    --show-signup: none;
    --show-login: none;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background: var(--yami-color1);
    margin: 0%;
}

/* Structure */

header {
    background: var(--yami-color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--style-fonts);
}

main {
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    min-height: 900px;
    max-height: max-content;
}

#main-content {
    background: var(--yami-color3-transparent);
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
}

footer {
    background: var(--yami-color1);
    padding: 10px;
}

/* Images */

#main-logo {
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    margin-left: 10px;
}

#body-image {
    display: none;
}

/* Signup and Login*/

#signup-menu {
    display: var(--show-signup);
}

#login-menu {
    display: var(--show-login);
}

#transparent-overlay {
    display: var(--show-overlay);
    background: var(--yami-color2);
    opacity: 0.5;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .25s ease;
    z-index: 1029;
}

.fields {
    background: var(--yami-color3);
    opacity: none;
    width: 70%;
    height: 70%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/* Typography */

header h1 {
    color: var(--yami-color3);
    text-align: center;
    margin-top: 25px;
}

main h2 {
    color: var(--yami-color1);
    text-align: center;
    font-family: var(--style-fonts);
}

main h3 {
    font-family: var(--style-fonts);
}

main p {
    color: var(--yami-color1);
    padding-left: 15px;
    padding-right: 15px;;
    padding-bottom: 5px;
}

footer p {
    color: var(--yami-color3);
    padding-left: 10px;
}

footer a {
    color: var(--yami-color3);
}

button {
    cursor: pointer;
}

main button {
    background: none;
    border: none;
}

/* larger Screens*/

@media only screen and (min-width: 1000px) {
    /* Structure */
    main {
        display: flex;
    }

    #flex-override {
        display: block;
    }

    /* Images */
    #body-image {
        display: block;
        max-width: max-content;
        max-height: max-content;
        width: 100%;
        height: auto;
    }
}