:root {
    --background-color: lightgray;
    --primary-color: cyan;
    --secondary-color: lime;


}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}

/* Structure */

#content {
    background: white;
    padding: 5px;
    width: 80%;
    margin: auto; /* center horizontally */
    border-radius: 5px;
}

#play-area {
    width: 100%;
    height: 400px;
    background: cyan;
    position: relative;
}

#block {
    width: 150px;
    height: 150px;
    background: violet;
    animation-name: play;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
}

/* Animations */

@keyframes play {
    0% {
        background: red;
        left: 0%;
        bottom: 100%;
        transform: rotate(90deg);
    }
    15% {
        background: orange;
        left: 15%;
        bottom: 80%;
        transform: rotate(0deg);
    }
    30% {
        background: yellow;
        left: 30%;
        bottom: 60%;
        transform: rotate(90deg);
    }
    45% {
        background: green;
        left: 45%;
        bottom: 45%;
        transform: rotate(0deg);
        
    }
    60% {
        background: blue;
        left: 60;
        bottom: 30;
        transform: rotate(90deg);
    }
    80% {
        background: indigo;
        transform: rotate(0deg);
    }
    100% {
        background: violet;
        left: 0%;
        transform: rotate(90deg);
    }
}

/* Typography */

h1 {
    color: darkslategrey;
}

#block p {
    text-align: center;
    line-height: 150px;
}