:root {
	--square-top: 0px;
	--ball-color: deeppink;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: lightgray;
}

/* Structure */

#content {
	background: white;
	padding: 5px;
	width: 80%;
	margin: auto; /* center horizontally */
	border-radius: 5px;
}

#square {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	top: var(--square-top);
}

.rainbow {
	animation-name: colorAnim;
	animation-duration: 4s;
}

@keyframes colorAnim {
	0% {
		background-color: lime;
	}
	20% {
		background-color: cyan;
	}
	40% {
		background-color: hotpink;
	}
	60% {
		background-color: purple;
	}
	80% {
		background-color: blueviolet;
	}
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: var(--ball-color);
}

/* Typography */

h1 {
	color: darkslategrey;
}
