:root {
    --color1: lightgrey;
    --color2: darkgreen;
    --color3: darkolivegreen;
    --color4: khaki;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color1);
}

/* Structure */

.content {
    background: var(--color4);
    border: 2px solid var(--color2);
    margin:auto;
    width: 75%;
    padding: 10px;
}

.hide {
    display: none;
}

#command-align {
    text-align: center;
    margin: auto;
}

#command-box {
    padding: 0;
    width: 75%;
    margin: auto;
    color: var(--color2);
    border: 2px solid var(--color2);
}

/* Navigation */

button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color2);
}

nav {
    margin-left: 10%;
}

menu-button {
    padding-bottom: 0;
    margin-bottom: 0;
    
}

menu-button p {
    padding-bottom: 0;
    margin-bottom: 0;
}

nav ul {
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}

nav li {
    list-style: none;
    
}

/* Slider */

#yoga-slider {
    appearance: none;
    width: 100%;
    height: 25px;
    margin-top: 0;
    background: var(--color3);
}

    /*For Chromium Browsers*/
#yoga-slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 25px;
    background: var(--color2);
    cursor: pointer;
}

    /*For Firefox*/
#yoga-slider::-moz-range-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 25px;
    background: var(--color2);
    cursor: pointer;
}

/* Images */

#command-img {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

#yoga-img {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 0;
}

/* Typography */

h1 {
    text-align: center;
    color: var(--color2);
}

h2 {
    text-align: center;
    color: var(--color3);
}

h3 {
    text-align: center;
    color: var(--color2);
}

#command li {
    color: var(--color2);
}

p {
    color: var(--color2);
}

footer p {
    text-align: center;
}

/* larger Screens*/

@media only screen and (min-width: 768px) {
    .content {
        width: 30%;
    }

    nav {
        margin: auto;
    }

    #nav-space {
        width: 144.467px;
        margin: auto;
    }

    #menu-button {
        display: none;
    }

    #nav-list {
        display: flex;
        padding: 0;
    }

    #nav-list li {
        text-align: center;
    }

    #nav-list li:last-child::after {
        content: none;
    }

    #nav-list li::after {
        content: '|';
        color: var(--color2);
    }
}